  <div class="modal fade" id="ModalMenu" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content bg-black">
      <div class="modal-header" style="border-bottom: #000;">
        <img src="/assets/images/logos/S11-LOGO.webp" class="img-fluid" alt="SECTOR 11" width="50" >
        <button type="button" class="btn text-white ms-auto" data-bs-dismiss="modal" aria-label="Close">
          <i class="bi bi-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <a class="btn btn-outline-light btn-lg w-100" href="{{ '/' | relative_url }}" role="button">INICIO</a>
       <a class="btn btn-outline-light btn-lg w-100 my-3" href="/invitaciones-digitales.html" role="button">INVITACIONES</a>
       <a class="btn btn-outline-light btn-lg w-100" href="{{ '/menus-qr.html' | relative_url }}" role="button">MENU QR</a>
      </div>
   
    </div>
  </div>
</div>