.invitacion {
    width: 100%;
    max-width: 360px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/invitaciones/bodas/boda-ejemplo.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    border: 5px solid #5f5f5fd8;
    box-shadow: 10px 10px 58px 0px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 10px 10px 58px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 10px 10px 58px 0px rgba(0, 0, 0, 0.38);



    .invitacion-layer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        background: #00000067;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        color: #fff;
    }

}